@font-face {
  font-family: 'MagistralRegular';
  src: url('../fonts/Magistral-Black-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'MagistralThin';
  src: url('../fonts/Magistral-Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'MagistralMedium';
  src: url('../fonts/Magistral-Bold.otf') format('opentype');
  font-style: normal;
}

/* Optional global font override */
.magistral {
  font-family: 'MagistralRegular', sans-serif;
}

.magistral-thin {
  font-family: 'MagistralThin', sans-serif;
}

.magistral-medium {
  font-family: 'MagistralMedium', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
